:root {
  --head-bg: #111111;
  --theme-white: #f7f7f7;
  --theme-white-opacity: rgb(247, 247, 247, .75);
  --theme-black-opacity: rgb(18, 18, 18, .65);
  --theme-green: #7CC576;
  --grey-white: #f3f3f3;
  --small-shadow: #F5F5F5;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 1rem;
}

.theme-white {
  color: var(--theme-white);
}

.theme-grey-white-bg {
  background-color: var(--grey-white);
}

.theme-white-bg {
  background-color: var(--theme-white);
}

.theme-white-opacity {
  color: var(--theme-white-opacity);
}

.theme-black-opacity {
  color: var(--theme-black-opacity);
}

.intro-color {
  background-color: var(--head-bg);
}

.horse-logo-large {
  font-size: 8rem;
}

.welcome {
  text-transform: capitalize;
}

.get-started {
  text-transform: uppercase;
  background-color: var(--theme-green);
  color: var(--theme-white);
  border-radius: .15rem;
}

.navbar.theme-white {
  padding: 1rem;
  box-shadow: 0 1rem .8rem -.8rem var(--small-shadow);
  background-color: white;
}

.nav-horse {
  padding-left: 6rem;
  font-size: 1.5rem;
}

#navbarNav .navbar-nav {
  flex-direction: row;
  gap: 1.5rem;
  text-transform: uppercase;
}

.last-nav {
  padding-right: 6rem;
}

.image-shadow {
  box-shadow: 0 0 .5rem .01rem var(--small-shadow);
}

.double-check {
  list-style-image: url('check-double-solid.svg');
}

.double-check li {
  padding-bottom: 1rem;
}

.double-check li::marker {
  font-size: 2rem;
}

.section-head {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
}

.section-head p:first-of-type {
  color: var(--theme-black-opacity)
}

.theme-green {
  color: var(--theme-green);
}

.services-two {
  margin: 7rem 0;
}

.business-man {
  width: 25vw;
}

.service-card {
  transition: box-shadow .25s ease-in-out;
}

.service-card h4 {
  transition: color .25s ease-in-out;
}

.service-card:hover {
  box-shadow: 0 0 .5rem .01rem var(--small-shadow);
}

.service-card:hover h4 {
  color: var(--theme-green);
}

.number-list {
  color: var(--theme-green);
}

.bigger-padding {
  padding-left: 6rem;
}

.accordion-header {
  color: var(--theme-green);
}

.image-buildings {
  background-image: url(buildings.jpg);
  background-size: cover;
}

.black-screen {
  background-color: var(--theme-black-opacity);
}

.quote-container {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  outline: .1rem solid var(--theme-green);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--theme-green);
}

.picture-container img {
  border-radius: 50%;
  outline: .2rem solid var(--grey-white);
  width: 5rem;
}

.price-card {
  border-radius: 1rem;
  box-shadow: 0 0 .5rem -.4rem var(--head-bg);
  transition: outline .05s ease-in-out;
  padding: 5rem;
}

.price-card:hover {
  outline: .2rem solid var(--theme-green);
}

.price-people {
  font-size: 1.5rem;
  font-weight: bold;
}

.dollar-sign {
  color: black;
  font-weight: 700;
}

.big-numbers {
  font-size: 4rem;
  color: black;
}

.buy-now {
  margin-top: 2rem;
}

.recommended {
  background-color: #a0e09a29;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  color: #7CC576;
  font-weight: bold;
  padding: .5rem 2rem;
}

.recommended p {
  margin: 0;
  padding: 0;
}

.card-recommended {
  padding: .5rem 5rem 5rem 5rem
}






.image-interior {
  background-image: url(interior.jpg);
  background-size: cover;
}

.footer-column {
  height: 50vh;
}